# Node.js files
node_modules/
package-lock.json

# Output files
Outputs/*
!Outputs/image-edit-example.jpg
!Outputs/image-Example.png
!Outputs/thinking-sounds.mp3
# Environments
.env
.env.local

# Lingering system files
.DS_Store
